.org-events-wrapper {
  background: linear-gradient(to right, #002347, #004080);
  min-height: 100vh;
  padding: 50px 0;
}

.highlight-title {
  color: #ffae00;
}

.event-card-bootstrap {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-card-bootstrap:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
